input[type="text"], textarea, input[type="password"] {
    font-size: 16px;
    border: 1px solid #ececec75;
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 8px 0;
    resize: none;
    background: #f5f5f5;
    -webkit-appearance: none;
    border-radius: 2px;
    font-weight: 200;
}

.flex-row {
    display: flex;
    flex: 1;
    margin-left: -10px;
}

.flex-col-sm-5 {
    flex: 1;
    padding: 0 10px;
}
.form-field-wrapper {
    margin: 0 0 20px 0;
}

span.input-group-addon {
    background: transparent;
    position: absolute;
    border: 0;
    top: 41%;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.datetimepickerclass {
    margin-left: 15px;
    margin-top: -37px;
}
.datetimepickerclass .datetimepickerclass-1 {
    background-color: #232b38;
    height: 118px;
    color: white;
    text-align: center;
}

.datetimepickerclass .datetimepickerclass-2 {
    background-color: #232b38;
    height: 118px;
    color: white;
    text-align: center;
}

.datetimepickerclass input::-webkit-input-placeholder, .datetimepickerclass input::-webkit-input-placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}