@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');


* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;

}

body {
    height: 100vh;
    background-image: url("/images/4.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.glass {
    height: 360px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3));
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;



}

.glass:hover {
    transform: scale(1.05);
    backdrop-filter: blur(9px);
    background: radial-gradient(at 50% 0%, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7));
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.glassfields {
    display: block;
    text-align: center;
}

.glassfields .col-md-4 {
    width: 100%;
    position: relative;
}

.glassfields .col-md-4 input {
    height: 35px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: none;
    margin-top: 30px;
    top: 80px;
    margin-left: 130px;
    background-color: #fff;
    border-radius: 10px;
    bottom: 50px;
    width: 280px;
    text-align: center;
}
.glassfields .inputForms {
    display: grid;
}

.glassfields .col-md-4 {
    top: 5px;
}

.glassfields .col-md-4 label {
    position: absolute;
    bottom: 30px;
    left: 20px;
    pointer-events: none;
    font-weight: bold;
    top: 15px;
    margin-top: 20px;


}

.button {
    text-align: center;
    margin-top: 60px;

}

.btn_reset{
    height: 50px;
    width: 175px;
    background: lightseagreen;
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
}
.btn_reset:hover{
    box-shadow:0 0 0 25px #31708f  inset;
    -webkit-transform: scale(1);
}

.messages .successful_message {
    text-align: center;
}

.messages .failed_message {
    text-align: center;
}
