@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.main_banner {
    text-align: center;
    margin-top: 30px;
}

.main_banner .first_span {
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-top: 80px;
}

.main_banner .second_span {
    display: block;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.navigate_buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.navigate_buttons .btn {
    margin: 0 .5em 0 .5em;
}

#additionalServices {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300, sans-serif;
    box-sizing: border-box;
    max-width: 500px;
    height: 48px;
    margin: 10px auto 0;
    position: relative;

}

#additionalServices:before {
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    background: #fff;
    height: 2px;
    position: absolute;
    margin-top: -1px;
}

.row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300, sans-serif;
    box-sizing: border-box;
    margin-left: -5px;
    margin-right: -5px;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after, .btn-toolbar:before,
.clearfix:after, .clearfix:before,
.container-fluid:after, .container-fluid:before,
.container:after, .container:before,
.form-horizontal .form-group:after, .form-horizontal
.form-group:before, .modal-footer:after, .modal-footer:before,
.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before,
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after,
.pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.additional-badge-countainer {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300, sans-serif;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.additional-travelInsurance {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300, sans-serif;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.33333333%;
    text-align: center !important;
}

#additionalServices .additional-badge {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: MuseoSans-300, sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #232b38;
    border-radius: 100%;
}


.additional-rentACar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300, sans-serif;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.33333333%;
    text-align: center !important;
}

#additionalServices .additional-badge i {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: MuseoSans-300, sans-serif;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: -96px -371px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    color: #fff;
    background-image: none;
}

#additionalServices .well {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: MuseoSans-300, sans-serif;
    text-align: center !important;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 20px;
    box-shadow: none;
    display: inline-block;
    font-size: 12px !important;
    background-color: #101a2a;
    color: #fff;
    padding: 5px 6px;
    margin-bottom: 5px;
    width: auto;
    border: 0;
    border-radius: 6%;
    margin-top: 5px;
}
.additional-hotel {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #232b38;
    font-family: MuseoSans-300,sans-serif;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.33333333%;
    display: block!important;
    text-align: center!important;
}

.service {
    margin-top: 160px;
}


.glass {
    height: 400px;
    width: 1100px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3));
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    margin-left: 280px;
    margin-top: 20px;

}

.field__input{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);

}

.field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.field__input:focus{
    outline: none;
}

.field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
}

.field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

    top: var(--fieldHintTopHover, .25rem);
}


.field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
}


.field_v2 .field__label-wrap{
    overflow: hidden;
}

.field_v2 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.field_v3 .field__label-wrap::after{
    border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
    height: 100%;
}


.field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #673AB7;
}

.container {
    margin-left: 540px;
    margin-top: -48px;
}
.start_date {
    color: white;
}
.from_to {
    width: 460px;

}
.booker_content {
    margin-top: 50px;
    margin-left: 30px;
}
.dropdown{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 310px;
    margin-top: -118px;
}

.dropdown button{
    position: relative;
    width: 180px;
    height: 120px;
    font-size: 24px;
    /*background: #2196f3;*/
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #232b38;
}

.dropdown ul{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 370px;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
    background: white;
    z-index: 100;
}

.dropdown ul.active{
    transform: perspective(1000px) rotateX(0deg);
}

.dropdown ul li {
    list-style: none;
}

.dropdown ul li a {
    display:block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: #262626;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0,.2);
    transition: 0.5s;
}

.dropdown ul li a:hover{
    background: #0d7ad0;
}

.redirect_button {
    width: 15%;
    margin-left: 400px;
    margin-top: -37px;
}
.dropdown button span {
    font-size: 14px;
}
.details {
    display: grid;
}
.details .cabin_span, .class_span {
    margin: 4px;
    margin-left: -30px;
}
.details .cabin_span {
    margin-top: -32px;
}
.details .eco_span {
    margin-left: -40px;
    font-size: 28px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}
.dropdown img {
    margin-left: 70px;
}
.dropdown .cab_pas {
    color: #797F7B;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    margin-left: 15px;
}

.class_chooser {
    margin-left: 20px;
}
.class_chooser .form-check-label {
    margin-right: 25px;
}

.passengers_section li {
    border-bottom: 0.1em solid #C4D4C9;
    max-width:85%;
    margin-left: 27px;
}
