<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/available_flight_part_1.css">
</head>
<body>

    <label>From:</label>
    <span th:object="${flight}" th:text="*{from}"></span>

        <label>Destination:</label>
    <span th:object="${flight}" th:text="*{destination}"></span>

    <label>Flight class:</label>
    <span  th:object="${flight}" th:text="*{flightClass}"></span>


    <label>Departure date:</label>
    <span th:object="${flight}" th:text="*{departureDate}"></span>

    <label>Return date:</label>
    <span th:object="${flight}" th:text="*{returnDate}"></span>


    <div class="buttondiv">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="/">
            <button class="btn btn-primary" type="button">Cancel</button>
        </a>
    </div>

<div class="container"></div>
</body>
</html>