<!DOCTYPE html>
<html lang="en" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/datepicker.css">
</head>
<body>
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>




<div class="flex-col-sm-5">
    <div class="flex-row">
        <div class="flex-col-sm-4">
            <div class="form-field-wrapper">
                <div class="input-group date datetimepickerclass" id="datetimepicker1">
                    <input class="datetimepickerclass-2" type="text" id="datetimepicker1"   placeholder="DEPARTURE" style="width: 170px">
                    <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                          </span>
                </div>
            </div>
        </div>
        <div class="flex-col-sm-4">
            <div class="form-field-wrapper">
                <div class="input-group date datetimepickerclass" id="datetimepicker2" style="width: 170px">
                    <input class="datetimepickerclass-1" type="text" id="datetimepicker2" placeholder="RETURN">
                    <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                          </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/picker.js"></script>
</html>