<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/forgot_password_form.css">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/forgotPassword}" method="post" th:object="${user}"
onsubmit="return validateForm()" id="form" class="row g-3 needs-validation" novalidate>
<div class="glass" style="width: 500px;">

    <div class="messages">
        <div th:if="${param.emailFailed}">
            <br>
            <div class="failed_message">Email doesn't exist!</div>
        </div>
        <div th:if="${message != null}">
            <br>
            <div class="successful_message">[[${message}]]</div>
        </div>

    </div>

    <div class="glassfields">
        <div class="inputForms">

            <div class="col-md-4">
                <label class="form-label">Email</label>
                <input name="email" id="email" class="form-control" type="email"
                       th:field="*{email}" required autofocus="autofocus" placeholder="Enter your email"/>
            </div>

        </div>

        </div>
        <div class="button">
            <button type="submit" class="btn_reset">Send</button>

        </div>
    </div>


</form>

</body>
<script src="js/registration_val_form.js"></script>
</html>