<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"  lang="">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login_form.css}">
    <script src= https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>
<body>



<div class="glass">
    <div class="glassfields">
            <form th:action="@{/login}" method="post" onsubmit="return validateForm()"
                  id="form" class="row g-3 needs-validation" novalidate>

                <div class="messages">

                <div th:if="${param.error}">
                    <div class="login_failed">Invalid username or password or user is blocked!
                    </div>
                </div>

                <div th:if="${param.logout}">
                    <div class="logout_message" >You have been logged out!
                    </div>
                </div>
                </div>
            <div class="main_content">
                <div class="form-group">
                    <input type="email" class="form-control" id="username" name="username"
                          required  maxlength="40">
                    <div class="user_icon">
                    <img src="/images/user.png" alt="">
                    </div>
                </div>





                <div class="input-group" id="show_hide_password">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password"
                           required  minlength="8" maxlength="15">
                    <div class="capslock_message"></div>
                    <div class="password_icon">
                        <img src="/images/padlock.png" alt="">
                    </div>
                    <div class="input-group-addon">
                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>

                </div>
                    </div>


                <div class="button">
                    <button type="submit" class="btn_login" >Sign in</button>

                </div>
                <div class="remember_me">
                    <input name="remember-me" class="form-check-input" type="checkbox" id="remember">
                    <span>Remember Me</span>
                </div>
                <div class="forgot_password">
                    <a href="/" th:href="@{forgotPassword}">Forgot Password?</a>
                </div>
            </div>
            </form>

            <div class="new_user">
                <span>New user?<a href="/" th:href="@{registration}">Register here</a></span>
            </div>

        </div>
    </div>
</body>
<script src="js/registration_val_form.js"></script>
<script src="js/show_hide_password.js"></script>
<script src="js/caps_lock_detector.js"></script>
</html>